*.a
*.o
*/.vscode/*
*.jlp
*.vscode*
a3_code/botlab-f19/src/lcmtypes/*.hpp
a3_code/botlab-f19/src/lcmtypes/*.py
*.json
.vscode/
*/lcmtypes/*.hpp
*test.py
*__pycache__*
botlab-f19/src/lcmtypes/*.*
mobilebot-f19/bin/*
mobilebot-f19/lcmtypes/*.c
mobilebot-f19/lcmtypes/*.h
eecs467-Finalproject-Perception/*
